<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Code Editor</title>
	</head>
	<body class="group dark:bg-zinc-900 dark:text-white">
		<main class="fixed top-0 left-0 w-full h-full">
			<div class="z-10 absolute top-0 flex gap-4 w-full p-2 leading-4 bg-zinc-50 dark:bg-zinc-800 text-sm border-b dark:border-b-zinc-700">
				Code Editor

				<div>
					Editors
					<label for="html-editor">
						<input
							data-ref="htmlEditorVisibility"
							type="checkbox"
							name="html-editor"
							checked
						/>
						HTML
					</label>
					<label for="script-editor">
						<input
							data-ref="scriptEditorVisibility"
							type="checkbox"
							id="script-editor"
							name="script-editor"
							checked
						/>
						JS
					</label>
				</div>

				<div data-component="LayoutSwitcher">
					Layout
					<label for="layout-horizontal">
						<input data-ref="inputs[]" type="radio" name="layout" id="layout-horizontal" value="horizontal" checked>
						Horizontal
					</label>
					<label for="layout-vertical">
						<input data-ref="inputs[]" type="radio" name="layout" id="layout-vertical" value="vertical">
						Vertical
					</label>
				</div>

				<div data-component="ThemeSwitcher">
					Theme
					<label for="theme-light">
						<input type="radio" name="theme" id="theme-light" value="light" checked>
						Light
					</label>
					<label for="theme-dark">
						<input type="radio" name="theme" id="theme-dark" value="dark">
						Dark
					</label>
				</div>
			</div>
			<div data-component="LayoutReactive"
				data-option-horizontal="flex-col"
				class="absolute top-8 left-0 right-0 bottom-0 flex flex-col">
				<div data-component="LayoutReactive"
					data-option-vertical="w-2/5 h-full border-r dark:border-r-zinc-700"
					data-option-horizontal="w-full border-b dark:border-b-zinc-700"
					class="flex flex-col w-full border-b dark:border-b-zinc-700">
					<div data-component="LayoutReactive"
						data-option-vertical="flex-col"
						class="flex flex-grow flex-wrap items-stretch h-full">
						<div
							data-component="HtmlEditor LayoutReactive"
							data-option-vertical="w-full h-1/2"
							data-option-horizontal="w-1/2 h-[33vh]"
							class="relative flex-grow w-1/2 h-[33vh]"
							data-lang="text/html"
						>
							<div class="absolute inset-0 bg-zinc-50 dark:bg-neutral-900"></div>
						</div>
						<div
							data-component="ScriptEditor LayoutReactive"
							data-option-vertical="w-full h-1/2"
							data-option-horizontal="w-1/2 h-[33vh]"
							class="relative flex-grow w-1/2 h-[33vh] dark:border-l-zinc-700"
							data-lang="text/javascript"
						>
							<div class="absolute inset-0 bg-zinc-50 dark:bg-neutral-900"></div>
						</div>
					</div>
				</div>
				<div data-component="LayoutReactive"
					class="relative w-full flex-grow"
					data-option-vertical="w-3/5"
					data-option-horizontal="w-full">
					<iframe
						data-component="Iframe"
						src="about:blank"
						srcdoc=""
						frameborder="0"
						class="absolute inset-0 w-full h-full"
					></iframe>
				</div>
			</div>
		</main>
	</body>
</html>
